<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tela Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ágatha Leal</strong>
    <p>23108734</p>
    <br>
    <p><img src="assets/agatha.jpg" width="200"></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <ion-button color="light" (click)="abrirPagina()">Calculando o IMC</ion-button>
  </div>
</ion-content>